.HeaderContainer {
	background-color: #3a3a3a;
	font-family: 'Bebas Neue', cursive;
	color: #aaa;
}

#appName {
	display: inline-block;
	font-size: 3rem;
	margin: 0.5rem 2rem;
}

#addButton {
	font-family: 'Bebas Neue', cursive;
	font-size: 2.5rem;
	color: #aaa;
	border: none;
	outline: none;
	float: right;
	height: 100%;
	background-color: transparent;
	padding: 0 1.5rem;
}
#addButton:hover {
	background-color: #444;
	cursor: pointer;
}

#plusIcon {
	vertical-align: middle;
}
