@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.HeaderContainer {
	background-color: #171717;
	color: #eee;
	font-weight: 300;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #67B67E;
}

#appName {
	font-family: 'Bebas Neue', cursive;
	font-size: 3rem;
	margin: 0.7rem 2rem 0.3rem 2rem;
}

#addButton {

	font-family: 'Bebas Neue', cursive;
	font-size: 2.5rem;
	color: #aaa;
	border: none;
	outline: none;

	height: 100%;
	background-color: transparent;
	padding: 0 1.5rem;
	cursor: pointer;
}
#addButton:hover {
	background-color: #3C4C55;

}

#plusIcon {
	vertical-align: middle;
}
