.itemContainer {
	background-color: #20272d;
	font-family: 'Rubik', sans-serif;
	padding: 0.5rem 1rem;
	margin: 5px;
	display: flex;
	flex-direction: row;
}

.item__leftSide {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.item__CaseName {
	font-family: 'Rubik', sans-serif;
	color: #eee;
	font-size: 2rem;
	margin-bottom: 0.3rem;
}

.item__ContactList {
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.item__ContactList h5 {
	margin-right: 15px;
}

.smallText {
	font-family: 'Rubik', sans-serif;
	color: darkgray;
	font-weight: 300;
	font-size: 13.3px;
	display: inline-block;
}

.item__rightSideSection {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-left: 1.5px solid darkgray;
	padding: 0 0.5rem;
}

.item__Details {
	display: flex;
	flex-direction: row;
	justify-content: left;
	color: darkgray;
	margin: 2px;
}
.item__rightSideSection h4 {
	font-family: 'Rubik', sans-serif;
	color: darkgray;
}

.bigIcon {
	vertical-align: middle;
	margin-right: 0.5rem;
}

.smallIcon {
	vertical-align: baseline;
	margin-right: 0.2rem;
}
