form {
	width: 100%;
}

.addUgyFormContainer {
	background: #20272d;
	margin: 5px;
	flex: 1;
}

#topBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#topBar button {
	font-family: 'Bebas Neue', cursive;
	font-size: 2rem;
	background-color: transparent;
	color: white;
	border: none;
	padding: 0.5rem 1rem;
}

#topBar button:active,
#topBar button:focus {
	outline: none;
}

#topBar button:hover {
	background-color: #3c4c55;
	cursor: pointer;
}

#closeButton {
	background-color: transparent;
	border: none;
	color: #aaa;
	margin: 0;
	padding: 0.5vw;
}

#closeButton:hover {
	background-color: #3c4c55;
	cursor: pointer;
	color: red;
}

#closeButton:focus,
#closeButton:active {
	outline: none;
}

#closeIcon {
	vertical-align: middle;
}

#submitButton:hover {
	color: lightgreen;
}
